extends layout 

block content
  h1= Search Result
  //- table
  //-   thead 
  //-     tr 
  //-     th Title
  //-     th Author
  //-     th Genre
  //-     th Year
  //-   tbody 
  //-     each book in result 
  //-       tr 
  //-         td
  //-           a(href="/books/" + book.id ) #{book.title} 
  //-         td #{book.author} 
  //-         td #{book.genre} 
  //-         td #{book.year}
  //- button(class="btn") 
  //-           a(href="/") BACK TO BOOK LIST
 