extends layout 

block content
  include books/searchForm
  h1= title
  h3
    a(href="/books/new") Create New Book
  table
    thead 
      tr 
      th Title
      th Author
      th Genre
      th Year
    tbody 
      each book in books 
        tr 
          td
            a(href="/books/" + book.id ) #{book.title} 
          td #{book.author} 
          td #{book.genre} 
          td #{book.year}
  h3 #{page} of #{numberOfPages}
  if numberOfPages > 1
    if page === 1 || page < numberOfPages
      button(class="btn") 
        a(href="/books/search?search=${search}&page=${page+1}") NEXT
    else if page > 1 && page < numberOfPages
      button(class="btn") 
        a(href="/books/search?search=#{search}&page=#{page-1}") PREV
      button(class="btn") 
        a(href="/books/search?search=${search}&page=${page-1}") NEXT
    else if page === numberOfPages
      button(class="btn") 
        a(href="/books/search?search=${search}&page=${page-1}") PREV



